* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color:#D1D5DB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
}